{% extends "base.html" %}
{% block title %} About {% endblock %}


{% block content %}
<div class="p-5 mb-4 bg-light rounded-3">
    <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">About this website</h1>
        <p class="col-md-8 fs-4">
            In the face of climate change, pollution and increasing urbanisation, cities and especially buildings are
            becoming a growing focus point for sustainable development. Architects and organisations responsible for
            developing buildings need insight into the industrial feasibility and ecological appropriateness of existing
            sustainable building designs worldwide since these designs generate ecosystem services. This website provides
            data about buildings around the world implementing sustainable design strategies.
        </p>
    </div>
</div>
<div class="row align-items-md-stretch">
    <div class="col-md-6">
        <div class="h-100 p-5 text-white bg-secondary rounded-3">
            <h2>Ecosystem services</h2>
            <p>
                To maintain a living on this planet, people are reliant on the services that the world supplies:
                ecosystem services. These services include clean air, water, and food. These ecosystem services can be
                categorised into supporting, cultural, provisioning, and regulating services. Supporting
                services include soil formation and pollination; cultural services include recreation and the provision
                of aesthetic features; provisioning services include food production and water supply; regulating
                services include all regulations of climate extremes, like heat waves and floods.
            </p>
        </div>
    </div>
    <div class="col-md-6">
        <div class="h-100 p-5 bg-light border rounded-3">
            <h2>Design strategies</h2>
            <p>HERE COMES TEXT 2</p>
        </div>
    </div>
</div>
<div class="row" style="height: 100px;"></div>
{% endblock %}
